/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:grey;

}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}

/* Header Styles */
header {
  background-color:orange;
  color:white;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

/* Post List Styles */
.post-list {
  list-style: none;
  padding: 0;
}

.post-list li {
  background-color: lightgreen;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-list h2 {
  margin-top: 0;
  font-size: 24px;
  color: orange;
}

.post-list p {
  font-size: 16px;
  color: #333;
}

/* Button Styles */
.post-list button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.post-list .update-button {
  background-color:orange;
  color: #ffffff;
}

.post-list .update-button:hover {
  background-color: red;
}

.post-list .delete-button {
  background-color: #f44336;
  color: #ffffff;
}

.post-list .delete-button:hover {
  background-color: #d32f2f;
}

/* New Post Form Styles */
.new-post-form {
  background-color: lightblue;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.new-post-form h2 {
  margin-top: 0;
  font-size: 24px;
  color: #00796b;
}

.new-post-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.new-post-form input,
.new-post-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.new-post-form button {
  background-color: #00796b;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.new-post-form button:hover {
  background-color: #004d40;
}

/* Footer Styles */
footer {
  background-color:orange;
  color: #ffffff;
  text-align: center;
  padding: 2px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}